@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* common style-start*/

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1164px;
    margin: auto;
}
.btn{
    background-color: #E02C6D;
    padding: 10px 24px;
    color: #fff;
    font-size: 16px;
    border: none;
}
.btn:hover{
    background-color: #000;
    transition: 2s;
}
.btn i{
    margin-left: 10px;
    margin-right: 10px;
}
/* common style-end*/
/* header-top-area-style-start */
.header-area{
    background-color: #2D25A0;
    overflow: hidden;
}
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 42px 0 67px 0;
}

.menu-area ul li{
    list-style: none;
}
.menu-area ul li a{
    text-decoration: none;
    color: #fff;
    font-size:16px ;
    font-weight: 500;
    padding: 10px 18px;
}
.menu-area ul li a:hover{
   color:#000;
   transition: 500ms;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* header-top-area-style-end */
/* banner-area-style-start */
.banner-area{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    padding-bottom: 68px;
}
.banner-iamge img{
    width: 556px;
    height: 438px;
}
.banner-iamge img:hover{
    transform: rotate(360deg);
    transition: 3s;
}
.bannner-text {
    margin-left: 50px;
}
.bannner-text h3{
    font-size: 64px;
    color: #fff;
    font-weight: 700;
}
/* banner-area-style-end */

/* players-area-strart */

.players-area{
    padding: 70px 0;
    background-color: #F0F0F0;
}
.player{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    column-gap: 30px;
}
.single-player{
    background-color: #fff;
    padding: 15px;
}
.single-player img{
    width: 100%;
    height: 256px;
}

.player-name{
    font-size: 28px;
    color:#18191F;
    font-weight: 700;
}
.player-description{
    font-size: 16px;
    color:#18191F;
    font-weight:400;
}
/* players-area-end */

/* highlights-area-start */
.highlight-area{
    background-color: #F0F0F0;
}
.highlight{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 165px 0;
    column-gap: 66px;
}
.highlight-image img{
    width: 567px;
    height: 427px;
}
.highlight-text{
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.highlight-text h1{
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}
.highlight-text p{
    font-size: 16px;
    font-weight: 400;
}

/* highlights-area-end */

/* footer-area-start */
.footer-area{
    padding: 65px 0;
    text-align: center;
}
.footer-top img{
    width: 484px;
    height: 110px;
}
.social-icon i{
    background-color: #E7E7E8;
    padding: 10px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 18px;
    color: #969BAB;
}
.social-icon i:hover{
    background-color: #000;
    color: #fff;
    transition: 1s;
}
.copyright p{
    font-size: 18px;
    font-weight: 400;
}

/* footer-area-end */
/* blog-area-start */
.blog-area{
    overflow: hidden;
    padding: 25px 0;
}
.latest-blog{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 30px;
    row-gap: 30px;
}
.blog-info img{
    width: 100%;
}

.single-blog,.single-video{ 
    background: #fff;
    padding: 20px;
}
.blog-area,.featured-video-area{
    background-color: #EEEEEE;
    overflow: hidden;
}
/* blog-area-end */
/* video-area-start */
.featured-video-area{
    padding-bottom: 50px;
}
.video-details{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 30px;
}
.single-video {
    padding: 20px;
}
.single-video iframe{
    width: 100%;
    height: 250px;
}


/* video-area-end */
 /* media query for tablet */
@media only screen and (max-width: 768px)  {
    .header-top{
        display: none;
    }
    .banner-area{
        display:grid;
        grid-template-columns: repeat(1,1fr);
        padding-bottom: 68px;
    }
    .banner-iamge{
        margin-top: 20px;
    }
    .player{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .highlight{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 50px 0;
    }
    .highlight-image{
        margin-top: 20px;
    }
    .highlight-image img{
        width: 100%;
    }
    .video-details{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 30px;
    }
  }

/* media query for mobile */
  @media only screen and (max-width: 414px){
    .container{
        max-width: 414px;
    }
    .player{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .latest-blog{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        column-gap: 30px;
    }
    .video-details{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .banner-iamge img{
        width: 100%;
    }
    .footer-top img{
        width: 80%
    }
    .bannner-text h3{
        font-size: 40px;
    }
    .highlight-image img{
        width: 100%;
    }
    .highlight-text{
        padding-left: 20px;
    }
  }